.animatee{

    animation: fadeLeft 1s linear 0.5s forwards ;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.animateTop{
    animation: fadeTop 0.5s linear forwards;

}
@keyframes fadeTop {
    0%{
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animateLeft{
    animation: liFadeLeft 0.5s linear forwards;
}

.animateLeft li.show{
    opacity: 1
}
@keyframes liFadeLeft{
    0%{
        opacity: 0;
        transform: translateY(20px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}