.animatee{

    animation: fadeLeft 1s linear 0.5s forwards ;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    
}